<a href="https://colab.research.google.com/github/drago467/DATA-MINING/blob/main/luc_luong_ung_ho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
!pip install unidecode
from unidecode import unidecode

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 12.1 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

In [8]:
agri_df = pd.read_csv('Agri.csv')
bidv_df = pd.read_csv('BIDV.csv')
vcb_df = pd.read_csv('VCB.csv')
vietin_df = pd.read_csv('Vietin.csv')

<ipython-input-8-81addc00a41b>:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  vcb_df = pd.read_csv('VCB.csv')

In [9]:
print("Agri DataFrame:")
print(agri_df.head())

print("\nBIDV DataFrame:")
print(bidv_df.head())

print("\nVCB DataFrame:")
print(vcb_df.head())

print("\nVietin DataFrame:")
print(vietin_df.head())

Agri DataFrame:
    date  bank        id   money  \
0  09/09  Agri   1375649  500000
1  10/09  Agri   2882370   50000
2  10/09  Agri  92865150  100000
3  10/09  Agri   2847919  100000
4  10/09  Agri  92875865  500000

                                                desc  page
0  NGUYEN THI ANH ung ho dong bao bao lu thien tai .     1
1    NGUYEN THI HONG DUYEN ung ho cac tinh bi bao lu     1
2                         Ung ho cac tinh bi bao lut     1
3                           BUI THI NINH chuyen tien     1
4  NGUYEN MINH QUANG ung ho cac tinh bi bao lu FT...     1

BIDV DataFrame:
             date  bank  id   money  \
0  01/09 10:27:58  BIDV   1  150000
1  02/09 07:29:20  BIDV   2    1500
2  03/09 06:59:55  BIDV   3    6314
3  03/09 07:19:50  BIDV   4    4188
4  03/09 12:08:28  BIDV   5   20000

                                            desc page
0  1261122666 Ung ho nguoi co hoan canh kho khan    _
1          1261122666 TRAN QUANG HUY Chuyen tien    _
2       1261122666 NGUYEN DANH THONG Chuyen tien    _
3       1261122666 NGUYEN DANH THONG Chuyen tien    _
4          1261122666 LE THI KIM ANH Chuyen tien    _

VCB DataFrame:
    date bank          id  money  \
0  01/09  VCB  5213.45946  50000
1  01/09  VCB  5090.85797  20000
2  01/09  VCB  5241.83107  29000
3  01/09  VCB  5218.87149   3000
4  01/09  VCB  5388.96713   3000

                                                desc page
0                    292976.010924.013647.xin cam on    1
1  VCB.CTDK.31/03/2024.ADIDA PHAT. CT tu 04810007...    1
2  MBVCB.6916176124.CAO VIET TUAN chuyen tien.CT ...    1
3        272986.010924.101858.DO DUC LOI chuyen tien    1
4  020097040509011046122024JDC5013867.96713 .1046...    1

Vietin DataFrame:
             date    bank  id   money  \
0  10/09 12:01:29  Vietin   1  300000
1  10/09 12:01:46  Vietin   2  100000
2  10/09 13:33:47  Vietin   3  100000
3  10/09 13:34:31  Vietin   4  100000
4  10/09 13:37:09  Vietin   5  100000

                                                desc page
0  CT nhanh 247 den: TRAN TIEN ANH chuyen tien un...    _
1  CT nhanh 247 den: Phuong Quynh Le chuyen tien ...    _
2  TRAN TRONG SON Chuyen tien ung ho (CT1111) TRA...    _
3  NGUYEN THU BINH chuyen tien ung ho (CT1111) NG...    _
4  Chuyen tien den tu NAPAS Noi dung: NGUYEN THU ...    _

In [10]:
# Hàm để chuyển đổi mô tả giao dịch về không dấu và chữ thường
def normalize_text(text):
    # Chuyển chữ hoa thành chữ thường
    text = text.lower()
    # Chuyển sang dạng không dấu
    text = unidecode(text)
    return text

# Áp dụng hàm normalize_text cho cột 'desc' trong từng DataFrame
agri_df['desc_normalized'] = agri_df['desc'].apply(lambda x: normalize_text(x) if pd.notnull(x) else '')
bidv_df['desc_normalized'] = bidv_df['desc'].apply(lambda x: normalize_text(x) if pd.notnull(x) else '')
vcb_df['desc_normalized'] = vcb_df['desc'].apply(lambda x: normalize_text(x) if pd.notnull(x) else '')
vietin_df['desc_normalized'] = vietin_df['desc'].apply(lambda x: normalize_text(x) if pd.notnull(x) else '')

# Kiểm tra lại một số dữ liệu sau khi xử lý
print("Agri DataFrame sau khi chuyển về chữ thường và không dấu:")
print(agri_df[['desc', 'desc_normalized']].head())

print("\nBIDV DataFrame sau khi chuyển về chữ thường và không dấu:")
print(bidv_df[['desc', 'desc_normalized']].head())

Agri DataFrame sau khi chuyển về chữ thường và không dấu:
                                                desc  \
0  NGUYEN THI ANH ung ho dong bao bao lu thien tai .
1    NGUYEN THI HONG DUYEN ung ho cac tinh bi bao lu
2                         Ung ho cac tinh bi bao lut
3                           BUI THI NINH chuyen tien
4  NGUYEN MINH QUANG ung ho cac tinh bi bao lu FT...

                                     desc_normalized
0  nguyen thi anh ung ho dong bao bao lu thien tai .
1    nguyen thi hong duyen ung ho cac tinh bi bao lu
2                         ung ho cac tinh bi bao lut
3                           bui thi ninh chuyen tien
4  nguyen minh quang ung ho cac tinh bi bao lu ft...

BIDV DataFrame sau khi chuyển về chữ thường và không dấu:
                                            desc  \
0  1261122666 Ung ho nguoi co hoan canh kho khan
1          1261122666 TRAN QUANG HUY Chuyen tien
2       1261122666 NGUYEN DANH THONG Chuyen tien
3       1261122666 NGUYEN DANH THONG Chuyen tien
4          1261122666 LE THI KIM ANH Chuyen tien

                                 desc_normalized
0  1261122666 ung ho nguoi co hoan canh kho khan
1          1261122666 tran quang huy chuyen tien
2       1261122666 nguyen danh thong chuyen tien
3       1261122666 nguyen danh thong chuyen tien
4          1261122666 le thi kim anh chuyen tien

In [20]:
# Bước 1: Lọc dữ liệu dựa trên từ khóa đã chuyển thành không dấu và chữ thường
keywords = ["lop", "cong ty", "van phong", "idol", "nhom", "tap the"]

# Từ khóa hiển thị tiếng Việt
display_keywords = ["Lớp", "Công ty", "Văn phòng", "Idol", "Nhóm", "Tập thể"]

# Tạo DataFrame trống để lưu kết quả
result_df = pd.DataFrame(columns=["Từ khóa", "Số Giao dịch", "Tiền hỗ trợ", "GD nhỏ nhất", "GD lớn nhất", "SL GD nhỏ"])

for i, keyword in enumerate(keywords):
    # Lọc dữ liệu từ các DataFrame khác nhau dựa trên từ khóa trong cột 'desc_normalized'
    filtered_agri = agri_df[agri_df['desc_normalized'].str.contains(keyword, case=False, na=False)]
    filtered_bidv = bidv_df[bidv_df['desc_normalized'].str.contains(keyword, case=False, na=False)]
    filtered_vcb = vcb_df[vcb_df['desc_normalized'].str.contains(keyword, case=False, na=False)]
    filtered_vietin = vietin_df[vietin_df['desc_normalized'].str.contains(keyword, case=False, na=False)]

    # Gộp tất cả các giao dịch đã lọc lại
    filtered_data = pd.concat([filtered_agri, filtered_bidv, filtered_vcb, filtered_vietin])

    # Tính toán các thông tin cần thiết
    num_transactions = filtered_data.shape[0]
    total_amount = filtered_data['money'].sum()
    min_transaction = filtered_data['money'].min()
    max_transaction = filtered_data['money'].max()
    small_transactions = filtered_data[filtered_data['money'] < 10000].shape[0]  # Số giao dịch nhỏ hơn 10,000 VND

    # Sử dụng loc để thêm dòng dữ liệu vào DataFrame
    result_df.loc[len(result_df)] = {
        "Từ khóa": display_keywords[i],  # Sử dụng từ khóa tiếng Việt tương ứng
        "Số Giao dịch": num_transactions,
        "Tiền hỗ trợ": total_amount,
        "GD nhỏ nhất": min_transaction,
        "GD lớn nhất": max_transaction,
        "SL GD nhỏ": small_transactions
    }

# Hiển thị kết quả
print(result_df)

     Từ khóa  Số Giao dịch  Tiền hỗ trợ  GD nhỏ nhất  GD lớn nhất  SL GD nhỏ
0        Lớp          6192   3388810917         1000    100000000         71
1    Công ty          5153  64748042278         1000  10460780225         94
2  Văn phòng           513   1748708432         2337   1000000000          6
3       Idol            33     52130011        20000     13456789          0
4       Nhóm          1374   3185189056         2000    138213000         12
5    Tập thể          3078  26039326500         1000   2680527506        130